.LottoBall {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #FD7D96;
  margin: 1rem;
  border-radius: 50%;
  color: #FFF;
  font-size: 2.5rem;
  font-family: sans-serif;
  font-weight: 600;
}